body {
    margin: 0px;
    font-family: 'Caveat Brush', cursive;
}

header {
    text-align: center;
    padding: 30px 0px;
    border-bottom: 5px solid goldenrod;
}

h1 {
    text-align: center;
    margin: 0px;
    font-size: 100px;
    color: darkred;
}

.container {
    margin: 0px auto;
    text-align: center;
    font-size: 50px;
}

.first {
    padding-top: 100px;
    color: navy;
}

.second {
    padding-top: 30px;
    padding-bottom: 50px;
    color: darkred;
}

input[type=text] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
}

select {
    width: 70px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-family: 'Caveat Brush', cursive;
}

#xo1 {
    color: navy;
}

#xo2 {
    color: darkred;
}

.buttons {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: navy;
    color: goldenrod;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-family: 'Caveat Brush', cursive;
}

.buttons:hover {
    background-color: darkred;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 100px auto;
    font-size: 100px;
    font-family: 'Caveat Brush', cursive;
}

td {
    text-align: center;
    vertical-align: middle;
    cursor: pointer; 
    width: 150px;
    height: 150px;
}

.vert {
    border-left: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
}

.hori {
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}

.result {
    text-align: center;
    padding: 200px 0px;
    font-size: 70px;
    color: navy;
}

.swal-button {
    color: goldenrod;
    background-color: navy;
}
.swal-button:hover {
    background-color: darkred;
}

.swal-text {
    font-size: 25px;
}